{% extends "bootstrap/base.html" %}

{% block title %}非遗大舞台{% endblock %}

{% block head %}
{{ super() }}
<link ref="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link ref="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="all">
{% endblock %}

{% block navbar %}

<!-- header-section-starts -->
<div class="header-top-strip">
    <div class="container">
        <div class="header-top-left">
            <p><a href="support.html">24/7 Customer Care</a> | <a class="play-icon popup-with-zoom-anim"
                                                                  href="#small-dialog" href="#"> Resend Booking
                Confirmation</a></p>
        </div>
        <div class="header-top-right">
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body&hellip;</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- Button trigger modal  -->

            <!-- Large modal -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                登录
            </button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;</button>
                            <h4 class="modal-title" id="myModalLabel">
                                Don't Wait, Login now!</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#Login" data-toggle="tab">登录</a></li>
                                        <li><a href="#Registration" data-toggle="tab">注册</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="Login">
                                            <form role="form" class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="email" class="col-sm-2 control-label">
                                                        电子邮箱</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control" id="email1"
                                                               placeholder="Email"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="col-sm-2 control-label">
                                                        密码</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control"
                                                               id="exampleInputPassword1" placeholder="password"/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            提交
                                                        </button>
                                                        <a href="javascript:;">忘记密码了?</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="Registration">
                                            <form role="form" class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="email" class="col-sm-2 control-label">
                                                        用户名</label>
                                                    <div class="col-sm-10">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <select class="form-control">
                                                                    <option>Mr.</option>
                                                                    <option>Ms.</option>
                                                                    <option>Mrs.</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Name"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email" class="col-sm-2 control-label">
                                                        电子邮箱</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control" id="email"
                                                               placeholder="Email"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="mobile" class="col-sm-2 control-label">
                                                        手机号码</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control" id="mobile"
                                                               placeholder="Mobile"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password" class="col-sm-2 control-label">
                                                        密码</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control" id="password"
                                                               placeholder="Password"/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <button type="button" class="btn btn-primary btn-sm">
                                                            保存 & 继续
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-sm">
                                                            取消
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="OR" class="hidden-xs">
                                        OR
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row text-center sign-with">
                                        <div class="col-md-12">
                                            <h3 class="other-nw">
                                                Sign in with</h3>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="btn-group btn-group-justified">
                                                <a href="#" class="btn btn-primary">Facebook</a> <a href="#"
                                                                                                    class="btn btn-danger">
                                                Google +</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="main-content">
        <div class="header">
            <div class="logo">
                <a href="{{ url_for('main.index') }}"><h1>非遗大舞台</h1></a>
            </div>
            <div class="search">
                <div class="search2">
                    <form>
                        <i class="fa fa-search"></i>
                        <input type="text" value="查找儿童剧，木偶剧，皮影或其他" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = '查找儿童剧，木偶剧，皮影或其他';}"/>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="bootstrap_container">
            <nav class="navbar navbar-default w3_megamenu" role="navigation">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span
                            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a href="{{ url_for('main.index') }}" class="navbar-brand"><i class="fa fa-home"></i></a>
                </div><!-- end navbar-header -->
                <div id="defaultmenu" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url_for('main.index') }}">主页</a></li>
                        <!-- Mega Menu -->
                        <li><a href="{{ url_for('main.shows') }}">演出购票</a></li>
                        <li><a href="{{ url_for('main.news') }}">最新资讯</a></li>
                        <li><a href="{{ url_for('main.member_service') }}">会员服务</a></li>
                        <li><a href="#">赞助与合作</a></li>
                    </ul><!-- end nav navbar-nav navbar-right -->
                </div><!-- end #navbar-collapse-1 -->
            </nav><!-- end navbar navbar-default w3_megamenu -->
        </div><!-- end container -->

        {% block page_content %}{% endblock %}

    </div>

    <div class="footer">
        <div class="col-md-3 footer-left">
            <div class="f-mov-list">
                <h4>关于我们</h4>
                <ul>
                    <li><a href="now-showing.html">运营公司</a></li>
                    <li><a href="comming-soon.html">合作机构</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="f-mov-list">
                <h4>帮助中心</h4>
                <ul>
                    <li><a href="404.html" target="target_blank">购票指南</a></li>
                    <li><a href="blog.html" target="target_blank">常见问题</a></li>
                    <li><a href="blog.html" target="target_blank">投诉建议</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3 footer-left">
            <div class="f-mov-list">
                <h4>联系我们</h4>
                <ul>
                    <li><a href="now-showing.html">电话: 86-29-84312345</a></li>
                    <li>地址: 西安市大唐西市</li>
                    <li>邮箱: xian@aaa.com</li>
                    <li>票务投诉及意见QQ: 12345679</li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="f-mov-list">
                <h4>票务专柜</h4>
                <ul>
                    <li><a href="info.html">Hindi</a></li>
                    <li><a href="info.html">English</a></li>
                    <li><a href="info.html">Marathi</a></li>
                    <li><a href="info.html">Bengali</a></li>
                    <li><a href="info.html">Tamil</a></li>
                    <li><a href="info.html">Telugu</a></li>
                    <li><a href="info.html">Malayalam</a></li>
                    <li><a href="info.html">Bhojpuri</a></li>
                    <li><a href="info.html">Kannada</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3 footer-left">
            <div class="f-mov-list">
                <h4>Exclusives</h4>
                <ul>
                    <li><a href="donate.html">Book A Smile</a></li>
                    <li><a href="vochers.html">Corporate Vouchers</a></li>
                    <li><a href="gift-cards.html">Gift Cards</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="f-mov-list">
                <h4>Help</h4>
                <ul>
                    <li><a href="site-map.html">Sitemap</a></li>
                    <li><a href="feed-back.html">Feedback</a></li>
                    <li><a href="faq.html">FAQs</a></li>
                    <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3 footer-left">
            <div class="f-mov-list">
                <h4>Movies by Genre</h4>
                <ul>
                    <li><a href="info.html">Action</a></li>
                    <li><a href="info.html">Romance</a></li>
                    <li><a href="info.html">Comedy</a></li>
                    <li><a href="info.html">Adult</a></li>
                    <li><a href="info.html">Adventure</a></li>
                    <li><a href="info.html">Classic</a></li>
                    <li><a href="info.html">Crime</a></li>
                    <li><a href="info.html">Drama</a></li>
                    <li><a href="info.html">Family </a></li>
                    <li><a href="info.html">Fantasy</a></li>
                    <li><a href="info.html">Musical</a></li>
                    <li><a href="info.html">Mystery</a></li>
                    <li><a href="info.html">Suspense</a></li>
                    <li><a href="info.html">Thriller</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="footer-right">
                <div class="follow-us">
                    <h5 class="f-head">Follow us</h5>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="subscribe">
                    <h5 class="f-head">Subscribe to our newsletters</h5>
                    <input type="text" class="text" value="Enter Email ID" onfocus="this.value = '';"
                           onblur="if (this.value == 'Enter email...') {this.value = 'Enter Email ID';}">
                    <input type="submit" value="submit">
                    <div class="clearfix"></div>
                </div>
                <div class="recent_24by7">
                    <a class="play-icon popup-with-zoom-anim" href="#small-dialog" href="#"><i
                            class="fa fa-calendar-o"></i>Resend
                        Booking Confirmation</a>
                    <a href="support.html"><i class="fa fa-question"></i>24/7 Customer Care</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

</div>
<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
{% endblock %}

{% block scripts %}
{{ super() }}

{{ moment.include_moment() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/megamenu.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.leanModal.min.js') }}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
{% endblock %}